*{
    font-family:helvetica;
}

.select-c{
    position:relative;
    height: 50px;
    width: 18%;
    display: flow-root;
}

select{
    text-align:center;
    position:absolute;
    left:15px;
    width:100%;
    border-radius: 6px;
    padding-right: 5px;
    background: pink;
    font-size:larger;
    height:70%;     
    outline: solid 2px pink;
    border:0;
    font-weight:600;
}

.arrow{
    display: block;
    background: lightskyblue;
    position:absolute;
    border-radius: 6px;
    width:30px;
    height:70%;
    right:-15px;
    top:0;
    pointer-events: none;
}

.arrow::before,
.arrow::after{
    content:"";
    position:absolute;
    width:0;
    height:0;
}

.arrow::before{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid blueviolet;
    top:25%;
    left:8px;
}

.arrow::after{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid blueviolet;
    top:55%;
    left:8px;
}

.topnav{
    background-color: lightblue;
    height: 100px;
}

#run{
    width:18%;
    height: 10%;
    position: absolute;
    top: 15%;
    left: 1%;
}

#legendstart:hover{
    cursor: pointer;
}

table{
    border-collapse: separate;
}

#tab{
    width: 10%;
    outline: solid 2px black;;
    position: absolute;
    left: 5%;
    top: 30%;
}

#legendend{
    border-radius: 50px;
}

#legendstart{
    border-radius: 50px;
}

#legendend:hover{
    cursor: pointer;
}

#legendweight{
    cursor: pointer;
}

#legendwall:hover{
    cursor:pointer;
}

#bigswal{
    font-size: larger;
}

#toptext{
    position: absolute;
    top: 10px;
    left: 100px;
    margin-right: auto;
}
table{
    position: relative;
    left: 50px;
    top: 70px
}


#logo{
    float: left;
    height: 100px;
    position: relative;
    text-align: top;
    mix-blend-mode: multiply;
    cursor: pointer;
}

body{
    background-color:rgb(230, 231, 231);
    margin: 0;
    padding: 0;
}

html{
    height:100%;
}

.wrap{
    display: flex;;
    justify-content: center;
    position: absolute;
    left:40%;
}
.buttonpink{
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    background: #ffffff;
    color:  black !important;
    font-weight:600;
    border: 4px solid pink !important;
    border-radius: 6px;
    font-size:large;
    display: inline-block;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.buttonpink:hover{
    color: white !important;
	border-radius: 50px;
    background:pink !important;
	border-color: #494949 !important;
	transition: all 0.3s ease 0s;
}

#pp{    
    text-align: center;
    position: absolute;
    top: 105px;
    left:  50%;
}

.dropdown{
    position: relative;
    display: inline-block;
    left:25%;
    top:40%;
    justify-content: center;
    font-size: large;

}

.dropdown-menu{
    position: absolute;
    top:100%;
    left: -50%;
    background-color: rgb(243, 221, 243);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
    opacity: 0;
    width: 200%;
    transition: all .3s ease-in-out;
    pointer-events: none;
    text-align: center;
}


.link{
    transition: all .3s ease-in-out;    
    border:0;
    background:none;
    width: 120%;
    font-size:larger;
    text-align: left;
}

.dropdown.active > .link,
.link:hover{
    color:green;
}

.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    background-color: lightcoral;
    pointer-events: auto;
    z-index: 999;
}

.arrow2{
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(255,255,255,0.5);
    top:35%;
    pointer-events: none;
    left:100%;
    transition: all .3s ease-in-out;
}

.dropdown.active .arrow2{
    border-top: 7px solid black;
}

.dropdown.active > .arrow2,
.link:hover ~ .arrow2{
    border-top: 7px solid pink;
}

.func{
    cursor: pointer;
}
.func:hover{
    color:lavender;
}
