*{
    font-family:helvetica;
}
.topnav{
    background-color: lightblue;
    height: 100px;
}

#run{
    width:18%;
    height: 10%;
    position: absolute;
    top: 15%;
    left: 1%;
}

#legendstart:hover{
    cursor: pointer;
}

table{
    border-collapse: separate;
    border-spacing: 15px;
}

#tab{
    width: 10%;
    outline: solid 2px black;;
    position: absolute;
    left: 5%;
    top: 30%;
}

#legendend{
    border-radius: 50px;
}

#legendstart{
    border-radius: 50px;
}

#legendend:hover{
    cursor: pointer;
}

#bigswal{
    font-size: larger;
}

#toptext{
    position: absolute;
    top: 10px;
    left: 100px;
    margin-right: auto;
}
table{
    position: relative;
    left: 50px;
    top: 70px
}


#logo{
    float: left;
    height: 100px;
    position: relative;
    text-align: top;
    mix-blend-mode: multiply;
    cursor: pointer;
}

body{
    background-color:rgb(230, 231, 231);
    margin: 0;
    padding: 0;
}
.wrap{
    display: flex;;
    justify-content: center;
    position: absolute;
    left:30%;
}
button{
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    background: #ffffff;
    color:  black !important;
    font-weight:600;
    border: 4px solid pink !important;
    border-radius: 6px;
    font-size:large;
    display: inline-block;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: white !important;
	border-radius: 50px;
    background:pink !important;
	border-color: #494949 !important;
	transition: all 0.3s ease 0s;
}

#pp{
    text-align: center;
    position: absolute;
    top: 105px;
    left:  50%;
}